In [29]:
import yfinance as yf
import pandas as pd
import numpy as np

df = yf.download(['601398.SS', '601939.SS'], start='2010-01-01')
df

/var/folders/y9/2slpdtcd62sccy809rd8q1pc0000gn/T/ipykernel_11752/79104515.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(['601398.SS', '601939.SS'], start='2010-01-01')
[*********************100%***********************]  2 of 2 completed

Price          Close                High                 Low            \
Ticker     601398.SS 601939.SS 601398.SS 601939.SS 601398.SS 601939.SS
Date
2010-01-04  2.318014  2.681884  2.383005  2.747617  2.318014  2.681884
2010-01-05  2.339678  2.721324  2.361341  2.743235  2.305016  2.664356
2010-01-06  2.313682  2.677502  2.339678  2.730088  2.309349  2.673120
2010-01-07  2.257356  2.638063  2.326679  2.695031  2.248690  2.633681
2010-01-08  2.266022  2.646827  2.270354  2.664356  2.244358  2.624917
...              ...       ...       ...       ...       ...       ...
2025-07-31  7.560000  9.410000  7.590000  9.420000  7.420000  9.220000
2025-08-01  7.620000  9.420000  7.670000  9.470000  7.480000  9.280000
2025-08-04  7.680000  9.550000  7.780000  9.560000  7.620000  9.390000
2025-08-05  7.760000  9.640000  7.760000  9.650000  7.630000  9.500000
2025-08-06  7.750000  9.570000  7.800000  9.680000  7.710000  9.550000

Price           Open               Volume
Ticker     601398.SS 601939.SS  601398.SS  601939.SS
Date
2010-01-04  2.352676  2.721324  169277208  113984517
2010-01-05  2.331012  2.695031  145916673  123022190
2010-01-06  2.339678  2.716941  104540705  106038344
2010-01-07  2.309349  2.677502  160763895  121298359
2010-01-08  2.248690  2.633681  100947113   56480155
...              ...       ...        ...        ...
2025-07-31  7.490000  9.330000  480969617  147431073
2025-08-01  7.560000  9.400000  514589960  135778358
2025-08-04  7.630000  9.400000  448275076  142987988
2025-08-05  7.680000  9.530000  340318210   98223045
2025-08-06  7.750000  9.640000  290187013  120790481

[3786 rows x 10 columns]

In [32]:
price_df = df['Close']
log_return_df = np.log(price_df / price_df.shift(1)).dropna()

In [33]:
log_return_df[log_return_df.index <= '2023-12-31'].corr()

Ticker     601398.SS  601939.SS
Ticker
601398.SS   1.000000   0.837134
601939.SS   0.837134   1.000000